@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 { 
    font-size: 60px;
}

body {
    font-family: 'Press Start 2P', cursive;
    color: #07236c;
    background-image: url(/estilos/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#pet-selection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#cards-pet { 
    display: flex;
    gap: 10px;   
}
    
#cards-pet #pet-card { 
    background-color: #2838242b;
    border-radius: 20px;
    width: 274px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    color: white;
}

#pet-card:hover { 
    cursor: pointer;
}

#cards-pet img {
    height: 134px;
    width: 146px;
}

#select-pet { 
    cursor: pointer;
    width: 200px;
    height: 45px;
    border-radius: 20px;
    background: transparent;
    border: 3px solid #07236c;
    color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

/* ------------- ATTACK SECTION -----------------*/ 


#choose-attack {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

#choose-title { 
    font-size: 54px;
    color: #461111;
}

#select-attack { 
    display: flex;
    gap: 30px;
}

#select-attack button { 
    cursor: pointer;
    width: 164px;
    height: 46px;
    border-radius: 20px;
    background: #7068688c;
    border: 3px solid #3a3030e8;
    box-shadow: 1px 2px 6px 3px;
    color: #000000c7;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

#cards-players {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    width: 100%;
}

#cards-players .card-pet { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background: #e39d7c;
    color: white;
    box-shadow: 1px 2px 6px 3px #443e3e;
    border-radius: 20px;
}

#cards-players .card-pet img {
    height: 148px;
    width: 148px;
}

#cards-players #sec-battle {
    display: flex;
    height: 270px;
    width: 448px;
    background: #fffaf7;
    box-shadow: 1px 2px 6px 3px #443e3e;
    border-radius: 20px;
    color: #900;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
}  

#cards-players #sec-battle #battle #enemy-attack { 
    font-size: 134px;

}

#cards-players .battle { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards-players div  > span  {
    font-size: 48px;
}

#cards-players p {
    margin-bottom: 4px;
}

#result-attack { 
    color: black;
}

#restart-bottom { 
    cursor: pointer;
    width: 248px;
    height: 44px;
    border-radius: 20px;
    background: #e11d1d;;
    box-shadow: 1px 2px 6px 3px black;
    color: #F7F1E5;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}

@media (max-width: 360px) {

    #cards-pet {
        flex-direction: column;
    }

    #select-attack { 
        flex-direction: column;
    }

    #cards-players {
        flex-direction: column;
    }

}